<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.ChartDataDao">
    <resultMap type="ChartData" id="ChartDataResultMap">
        <id property="id" column="id"/>
        <result property="taskGroupName" column="taskGroupName"/>
        <result property="proportion" column="proportion"/>
    </resultMap>

    <select id="queryAllCompletionRation" resultMap="ChartDataResultMap">
        SELECT
        task_group.name AS taskGroupName,1.0*SUM(CASE WHEN status="已完成" THEN 1 ELSE 0 END)/COUNT(1)*100 AS proportion
        FROM task INNER JOIN  task_group ON task.taskGroupId = task_group.id
        GROUP BY task.taskGroupId
    </select>
    
    <select id="queryAllAcceptanceRation" resultMap="ChartDataResultMap">
        SELECT
        task_group.name AS taskGroupName,1.0*SUM(CASE WHEN status="已接受" OR status="已完成" THEN 1 ELSE 0 END)/COUNT(1)*100 AS proportion
        FROM task INNER JOIN  task_group ON task.taskGroupId = task_group.id
        GROUP BY task.taskGroupId
    </select>

</mapper>