<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.TaskDao">
    <resultMap type="Task" id="taskResultMap">
        <id property="id" column="id"/>
        <result property="taskGroupId" column="taskGroupId"/>
        <result property="taskGroupName" column="taskGroupName"/>
        <result property="longitude" column="longitude"/>
        <result property="latitude" column="latitude"/>
        <result property="status" column="status"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <insert id="addTask" parameterType="Task">
        INSERT INTO task(taskGroupId,longitude,latitude,remark)
        VALUE (#{taskGroupId},#{longitude}, #{latitude}, #{remark})
    </insert>

    <delete id="deleteTaskById" parameterType="int">
        DELETE FROM task WHERE id=#{id}
    </delete>

    <update id="updateTask" parameterType="Task">
        UPDATE task
        SET taskGroupId = #{taskGroupId},longitude = #{longitude},latitude = #{latitude}
        ,status = #{status},remark = #{remark}
        WHERE  id = #{id}
    </update>

    <select id="queryAllTask" resultMap="taskResultMap">
        SELECT task.id,task_group.name AS taskGroupName, longitude, latitude, status,task.remark
        FROM task INNER JOIN task_group ON task.taskGroupId=task_group.id
    </select>

    <select id="queryTaskByCondition" resultMap="taskResultMap">
        select task.id,task_group.name as taskGroupName,longitude,latitude,status,task.remark
        from task inner join task_group on task.taskGroupId = task_group.id
        where 1=1
        <if test="taskGroupName != null and taskGroupName != '' ">
            AND task_group.name like "%"#{taskGroupName}"%"
        </if>
        <if test="status != null and status != '' ">
            AND status=#{status}
        </if>
    </select>
</mapper>